.env

.mypy_cache/
.vscode/
venv/
.idea/
__pycache__/
/mod_images/
/asd/
/converted_asd/Выжившая Душа.jpg
/converted_asd/Защитная Транспозиция.jpg
/converted_asd/Мягкая Длань.jpg
/converted_asd/Нейтронная Звезда.jpg
/converted_asd/Ослабляющая Связь.jpg
/converted_asd/Парирование.jpg
/converted_asd/Пирокластерный Поток.jpg
/converted_asd/Поглощающее Антивещество.jpg
/converted_asd/Разделённый Молот.jpg
/converted_asd/Размах.jpg
/converted_asd/Разрыв Личинки.jpg
/converted_asd/Разрывающее Сокрушение.jpg
/converted_asd/Рефлективный Выхват.jpg
/converted_asd/Рывок.jpg
/converted_asd/Сингулярность.jpg
/converted_asd/Синт-Реакция.jpg
/mod_images_list.txt
